spring:
  datasource:
    url: ${db.url:}
    username: ${db.username}
    password: ${db.password}
  mustache:
    expose-request-attributes: true

  security:
    oauth2:
      client:
        registration:
          facebook:
            client-id: ${facebook.client-id}
            client-secret: ${facebook.client-secret}
        provider:
          facebook:
            user-name-attribute: email

paypal:
    sandbox:
        client-id: ${paypal.sandbox.client-id}
        client-secret: ${paypal.sandbox.client-secret}
    live:
        client-id: ${paypal.live.client-id}
        client-secret: ${paypal.live.client-secret} 